#body{
	background: url("images/HD wallpaper_ star, space, atmosphere, light, astrology, sky, fantasy, celestial body _ Wallpaper Flare.png");
	background-repeat: no-repeat;
	background-size: cover;
}
	#chat{
		opacity:1;
	background: url("images/Wa11papers.ru_textures_2560x1600_121.jpg");
	width:200px;
	height:500px;
	position:absolute;
	margin-top:10%;
	margin-left:45%;
		border-radius: 0 10px;
		background-size:cover;
		background:no-repeat;
	}
#chatmsg{
	width: 200px;
	height: 50px;
	border: 1px solid;


}
.msgcontainer{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	margin:30px;
	position: relative;
	opacity:1;
}
.msgcontainer:hover{
	opacity: 0.4;
	transition: all .5s ease-in-out;
}
.name{
color: #e60067;
    font-family: "MV Boli";
}
.msg{
	color: #ff0000;
    font-family: "MV Boli";
}
.time{
	color: maroon;

    font-family: "MV Boli";
}

#sss {
	position: absolute;
	margin-left: 13px;
	margin-top: 380px;
	position: absolute;
}
.line{
	position: absolute;
	height: 1px;
	background-color: red;
	width: 100%;
	margin-top: 22px;
}
input{
	margin-bottom: 5px;
	background-color: darkgreen;
	border-color: green;
	border: 0;
	padding: 0;
	border-radius: 5px;
}


button{
	background-color:darkgreen;
	border: 0;
	padding: 0;
	border-radius: 5px;
}

input:hover{
	background-color: #ff000a;
	transition: all .5s ease-in-out;

}
button:hover{
	background-color: #ff000a;
	transition: all .5s ease-in-out;

}
#chat:hover{
	opacity:0.7;
	transition: all .5s ease-in-out;
}
#up{
	position: absolute;
	margin-left: 155px;
	margin-top: -45px;
}
   #down{
	   position: absolute;
	   margin-left: 155px;
	   margin-top: -15px;
   }
.msgBtn{
	z-index:-5;
}
.inputupdate{
	width:60px;
}
#label{
	position: absolute;
	margin-left: 10px;
}
.rightmsgcontainer{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	margin:30px;
	position: relative;
	opacity:1;
}
.leftmsgcontainer{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	margin:30px;
	position: relative;
	opacity:1;
}

.lineright{
	background-color: darkgreen;
	position: absolute;
	height: 2px;
	width: 100%;
	margin-top: 22px;
}
.lineleft{
	background-color: darkred;
	position: absolute;
	height: 2px;
	width: 100%;
	margin-top: 22px;
}